<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Fetch example (default fetch uses GET)
fetch("https://randomuser.me/api/?results=1")
.then((response) => {
    // Upon success we get an HttpServletResponse Object 
    // We need to use the JSON method() to get the data
    // from the response object
 	return response.json();
}).then(function(data) {  // <== Promise Processor
    // Here you get the data to modify as you please
    printObject("our data: ", data);
})
.catch(function(error) {
    // If there is any error you will catch them here
    print(`${error}`);
});   

</textarea>


<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Working with the JSON 
// Grab out output box
var output = orly.qid("output");

fetch("https://randomuser.me/api/?results=3")
.then(response => response.json())
.then(data => {
    let teamMembers = data.results;
    return teamMembers.map(teamMember => {
      let p = create('p'),
          img = create('img'),
          text = create('text', ` ${teamMember.name.first} ${teamMember.name.last}`);
      img.src = teamMember.picture.medium;
      append(p, img);
      append(p, text);
      append(output, p);
      })
})
.catch(error => {
    print(`${error}`);
  });   

// some helper functions
function create(el, text) {
	if(el == 'text') return document.createTextNode(text);
      return document.createElement(el);
}
function append(parent, el) {
    return parent.appendChild(el);
}
</textarea>


<!-- ---------------------------- EXAMPLE 3---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Adding a response check 
// Adding a spinner overlay and color around the output
// Grab out output box
var output = orly.qid("output");
// Grab the overlay
var overlay = orly.q("orly-overlay");
// launch the overlay
overlay.open({ top: true });

fetch("https://randomuser.me/api/?results=3")
.then(response => {
	// Making sure the sure response is OK
	// 200-299 only
	if (response.ok) {
	    return response.json();
	 } else {
		throw new Error(getError(response));
	}
})
.then(data => {
	// add color to the output border
	output.classList.add("border", "border-success");
	let teamMembers = data.results;
	return teamMembers.map(teamMember => {
		let p = create('p'),
			img = create('img'),
			text = create('text', ` ${teamMember.name.first} ${teamMember.name.last}`);
		img.src = teamMember.picture.medium;
		append(p, img);
		append(p, text);
		append(output, p);
	})
})
.catch(error => {
	// add red around the output
	output.classList.add("border", "border-danger");
	print(`${error}`);
  })
.finally(()=>{
	// remove the overlay regardless of success
	overlay.close();
})  

// some helper functions
function create(el, text) {
	if(el == 'text') return document.createTextNode(text);
	return document.createElement(el);
}
function append(parent, el) {
    return parent.appendChild(el);
}
/*
 * Look at the difference between example 2 and 3
 * with an incorrect url https://randomuser.me/ai/?results=3
*/
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
