<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
/*
	<div id="farm">
	<ul id="myUl">
		<li id="0">Cat</li>
		<li id="1">Dog</li>
		<li id="2">Horse</li>
		<li id="3">Pig</li>
	</ul>
	</div> 
*/
document.querySelector("h4").addEventListener("click", function() {
	alert("heading clicked");
});

let myUl = document.getElementById("myUl");
myUl.addEventListener("click", function(e) {
	alert(`myUl: ${e.target.id}: ${e.target.innerHTML}`);
});

let farm = document.getElementById("farm");
farm.addEventListener("click", function(e) {
	alert(`farm: ${e.target.id}: ${e.target.innerHTML}`);
});
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
				<div class="col-sm-12 border mr-3" id="domStuff">
					<div id="farm">
						<ul id="myUl">
							<li id="0">Cat</li>
							<li id="1">Dog</li>
							<li id="2">Horse</li>
							<li id="3">Pig</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
