<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
const eventLoader = function(e) {

  // Build Button One Event Handler
  const buttonOneEventHandler = function (e){
    print("Button One Clicked!");
  };
	
  // Build Button Two Event Handler
  const buttonTwoEventHandler = function (e){
    print("Button Two Clicked!");
  };
	
  // Get an instance of the ButtonOne Element 
  // and add its Event Handler
  const buttonOneDomElement = document.querySelector('#buttonOne');

  buttonOneDomElement.addEventListener('click', buttonOneEventHandler);
	
  // Get an instance of the ButtonTwo Element 
  // and add its Event Handler
  const buttonTwoDomElement = document.querySelector('#buttonTwo');

  buttonTwoDomElement.addEventListener('click', buttonTwoEventHandler);
};

window.addEventListener('load', eventLoader);


</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
				<!-- Button Event Example -->
				<button id="buttonOne"  type="button" class="btn btn-success mt-1">
				    Button 1
				</button>
				<button id="buttonTwo" type="button" class="btn btn-primary mt-1">
				    Button 2
				</button>
			</div>
		</div>
	</div>
</div>
