
<body>
	<div class="container-fluid" id="container-fluid">
		<div class="row">
			<div class="col-6 bg-info font-weight-bold text-white" id="left-col">
				<output class="border" id="output"></output>
			</div>
			<div class="col-6" id="right-col">
				<button class="btn btn-primary mb-2" id="adder">Add a click
					event</button>
				<br>
				<button class="btn btn-info mb-2" id="clicker">I am now
					accepting clicks</button>
				<br>
				<button class="btn btn-warning" id="remover">Remove event
					listener</button>
			</div>
		</div>
	</div>
</body>
<script>
	//grab some elements
	const body = document.querySelector("body");
	const output = document.getElementById("output");
	const clicker = document.getElementById("clicker");

	// init event 
	let event = new Event("click", {
		bubbles : true
	});

	// add an event listener for the entire body
	// this is event delegation 
	body.addEventListener("click", clickManager);

	// function to handle all clicks
	function clickManager(e) {
		if (e.target.id != "adder") {
			output.innerHTML += `click by: ${e.target.id}<br>`;
		}

		if (e.target.id == "remover") {
			document.querySelector("body").removeEventListener("click",
					clickManager);
		}

		if (e.target.id == "adder") {
			clicker.dispatchEvent(event);
		}
	}
</script>