<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
localStorage.setItem('myDog', 'Spot');
let dog = localStorage.getItem('myDog');
print(`dog: ${dog}`);



</textarea>
<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
				
localStorage.removeItem('myDog');
dog = localStorage.getItem('myDog');
print(`dog: ${dog}`);
</textarea>


<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// storing and retrieving an object
let internArray = [{name:"Pat",age:"23"},{name:"Sandy",age:"26"}];
localStorage.setItem('storedInternArray', JSON.stringify(internArray));

internArray = localStorage.getItem('storedInternArray');
print('Our intern array directly from storage:');
print(internArray);
print(`internArray typeof: ${typeof internArray}`);
print('');
print('Our intern array after conversion:');
internArray = JSON.parse(internArray);
printObject('Intern Array: ', internArray);
print(`internArray typeof: ${typeof internArray}`);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->				

<textarea placeholder="Add JavaScript Here" class="d-none">
// removing an object from local storage
localStorage.removeItem('storedInternArray');
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
