<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// create an empty object
var car = {};
// add a property after the fact
car.color = "midnight blue";
print(`car.color: ${car.color}`)
// add a property with an invalid identifier
// i.e. with spaces
car["wheel base length"] = 160;

// you must use bracket notation to access "wheel base length"
// bracket notation is optional for valid identifiers
print(`car["wheel base length"]: ${car["wheel base length"]}`);
print(`car["color"]: ${car["color"]}`);
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// object literal syntax
var car1 = {color: "midnight blue", wheels: 4,};
var car2 = {color: "midnight blue", wheels: 4,};
// car3 has an additional property "engine"
// which is an object
var car3 = {
    color: 'midnight blue',
    wheels: 4,
    engine: {
        cylinders: 8,
        horsepower: 465
    }
};
printObject('car1:', car1);
printObject('car2:', car2);
printObject('car3:', car3);

// are car1 and car 2 equal?
print(`car1 == car2: ${car1 == car2}`);
print(`car1 === car2: ${car1 === car2}`);
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// accessing nested properties
var car3 = {
    color: 'midnight blue',
    wheels: 4,
    engine: {
        cylinders: 8,
        horsepower: 465
    }
};

// we can use a combination of bracket and dot notation
print(`car3.engine.cylinders: ${car3.engine.cylinders}`);
print(`car3["engine"].cylinders: ${car3["engine"].cylinders}`);
print(`car3.engine["cylinders"]: ${car3.engine["cylinders"]}`);
</textarea>


<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Adding functions and deleting properties
var car3 = {
    color: 'midnight blue',
    wheels: 4,
    engine: {
        cylinders: 8,
        horsepower: 465
    }
};

// add a new prop that is a fx
car3.sound = function(){return "Varoom!";};

// what is the difference between the two
// print statements below?
print(`car3.sound: ${car3.sound}`);
print(`car3.sound(): ${car3.sound()}`);

// deleting is easy
delete car3.sound;
delete car3.engine;
printObject("car3: ", car3)
</textarea>


<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Property Enumeration
// for ...in
var car3 = {
    color: 'midnight blue',
    wheels: 4,
    engine: {
        cylinders: 8,
        horsepower: 465
    }
};

for(let prop in car3) {
	print(`${prop}: ${car3[prop]}`);
}
</textarea>


<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//Property Enumeration
//Object.keys(object) and Object.values(object)
var car3 = {
	color: 'midnight blue',
	wheels: 4,
	engine: {
		cylinders: 8,
		horsepower: 465
	}
};
//printing out the arrays 
printObject("car3 keys: ", Object.keys(car3));
printObject("car3 values: ", Object.values(car3));
print("");
//using forEach
Object.keys(car3).forEach(prop => print(`${prop}: ${car3[prop]}`));

</textarea>


<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// New Object Notation
var car = new Object();
// add a property after the fact
car.color = "midnight blue";
car.wheels = 4;
printObject("car: ", car);
</textarea>


<!-- ---------------------------- EXAMPLE 8 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Object Constructor Function
var Car = function(color, wheels){
	this.color = color;
	this.wheels = wheels;
}

var car1 = new Car("midnight blue", 4);
printObject("car1: ", car1);

// Note that the first line of this code can be 
// function Car (color, wheels){
	
</textarea>


<!-- ---------------------------- EXAMPLE 9 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Using Classes
class Car{
	constructor(color, wheels){
		this.color = color;
		this.wheels = wheels;
	}
	noise = "Varoom!"
	sound = function(){return this.noise}
}

var car1 = new Car("midnight blue", 4);
printObject("car1: ", car1);
print(`car1.sound(): ${car1.sound()}`);
</textarea>


<!-- ---------------------------- EXAMPLE 10 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Inheritance
class Vehicle{
	constructor(color, wheels){
		this.color = color;
		this.wheels = wheels;
	}
	noise = "Varoom!";
	sound = function(){return this.noise;};
}
class Car extends Vehicle{
	constructor(color, wheels){
	    super(color, wheels);
	}
	doors=4;
}
var car1 = new Car("midnight blue", 4);
var car1Clone = Object.create(car1);

// what prints?
printObject("car1: ", car1);

// what prints?
println(`car1Clone.sound(): ${car1Clone.sound()}`);


</textarea>


<!-- ---------------------------- EXAMPLE 11 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Inheritance
class Vehicle{
	constructor(color, wheels){
		this.color = color;
		this.wheels = wheels;
	}
	noise = "Varoom!";
	sound = function(){return this.noise;};
}
class Car extends Vehicle{
	constructor(color, wheels){
	    super(color, wheels);
	}
	doors=4;
}
var car1 = new Car("midnight blue", 4);
var car1Clone = Object.create(car1); // shallow

// change the parent's noise
car1.noise = "rumble, rumble, rumble";

// what prints?
print(`car1.sound(): ${car1.sound()}`);
print(`car1Clone.sound(): ${car1Clone.sound()}`);

// what prints?
print(`car1.sound(): ${car1.noise}`);
print(`car1Clone.sound(): ${car1Clone.noise}`);


</textarea>

<!-- ---------------------------- EXAMPLE 12 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Inheritance
class Vehicle{
	constructor(color, wheels){
		this.color = color;
		this.wheels = wheels;
	}
	noise = "Varoom!";
	sound = function(){return this.noise;};
}
class Car extends Vehicle{
	constructor(color, wheels){
	super(color, wheels);
	}
	doors=4;
}
var car1 = new Car("midnight blue", 4);
var car1Clone = Object.create(car1);
car1Clone.noise = "prrrrrr";
car1Clone.wheelBase = 50;

// what do we see?
printObject("car1Clone: ", car1Clone);
print("");

// what do we see?
println("---- printing out properties");
print("for...in with hasOwnProperty check");

for(let prop in car1Clone) {
  if (!car1Clone.hasOwnProperty(prop)) { 
    continue;
  }  
  
  print(`${prop}: ${car1Clone[prop]}`);
}
</textarea>

<!-- ---------------------------- EXAMPLE 13 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//Inheritance
class Vehicle{
	constructor(color, wheels){
		this.color = color;
		this.wheels = wheels;
	}
	noise = "Varoom!";
	sound = function(){return this.noise;};
}
class Car extends Vehicle{
	constructor(color, wheels){
	    super(color, wheels);
	}
	doors=4;
}
var car1 = new Car("midnight blue", 4);

// what do we see?
printObject("car1: ", car1);
print("");

// what do we see?
print("// printing out properties");
print("// for...in with hasOwnProperty check");

for(let prop in car1) {
  if (!car1.hasOwnProperty(prop)) { 
    continue;
  }  
  
  print(`${prop}: ${car1[prop]}`);
}
</textarea>

<!-- ---------------------------- EXAMPLE 14 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//Inheritance
class Vehicle{
	constructor(color, wheels){
		this.color = color;
		this.wheels = wheels;
	}
	noise = "Varoom!";
	sound = function(){return this.noise;};
}
class Car extends Vehicle{
	constructor(color, wheels){
	super(color, wheels);
	}
	doors=4;
}
var car1 = new Car("midnight blue", 4);
var car1Clone = Object.create(car1);
car1Clone.noise = "prrrrrr";
car1Clone.wheelBase = 50;

print("User Object.keys to access own properties!");
Object.keys(car1Clone).forEach(prop => print(`${prop}: ${car1Clone[prop]}`));

print(`car1Clone instanceof Car: ${car1Clone instanceof Car}`);
print(`car1Clone instanceof Vehicle: ${car1Clone instanceof Vehicle}`);
print(`car1 instanceof Car: ${car1 instanceof Car}`);
print(`car1 instanceof Vehicle: ${car1 instanceof Vehicle}`);
/*
does not work because car1 does not have a constructor
this is what instanceof looks for
print(`car1Clone instanceof car1: ${car1Clone instanceof car1}`);
*/
</textarea>



<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
