<div id="contentHeader"></div> 
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label> 

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Check that the DOM is ready with "orly.ready.then(()=>{})"
// You can have unlimited "orly.ready.then()" blocks of code
orly.ready.then((e)=> {
	// Announce DOM ready
	print("DOM ready!");
});
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// ACCESS ELEMENT BY DIV orly.qid();
// q = query
// id = identifier

// A wrapper for getElementById()	
//
// RETURNS: An HTML element object representing the first element found, 
//          null if not found

// Get access to a DOM element by ID
var btn = orly.qid("btn");
print(`btn.innerHTML: ${btn.innerHTML}`);
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// ACCESS ELEMENT BY DIV orly.qa();
// q = query
// a = all

// A wrapper for querySelectorAll

// RETURNS: A NodeList representing all elements found, or empty 
//          NodeList if none found.
	
// Get access to a DOM element by querySelectorAll 
var numbers = orly.qa(".numbers");
print(`numbers:`);

var i = 0;
numbers.forEach((number)=>{
	print(`number[${i}].innerHTML: ${number.innerHTML}`);
	i+=1;	
});

</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// ACCESS ELEMENT BY DIV orly.q();
// q = query

// A wrapper for querySelector

// RETURNS: An HTML element object representing the first element 
//          found, or null if not found.

// Get access to a DOM element by query selector
var dotComSite = orly.q('a[href$=".com"]');
print(`First .com link (dotComSite.innerHTML): ${dotComSite.innerHTML}`);
</textarea>



<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// ALERT MANAGER
// Check out index.html and you will find
// <orly-alert-mgr id="alerts"></orly-alert-mgr>

// Get access to the alert manager
var alertManager = orly.qid("alerts");

// Use the createAlert() function to create a "toast"
// type: primary, secondary, success, danger, warning, info, light, dark
// duration: how long the toast is displayed
// msg: the text to display to the user
alertManager.createAlert({type:"success", duration:"2000", msg:"My Message!"});

// Note: you can hover the toast to pause the duration "timer"
</textarea>


<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// ORLY EVENTS
// You can add an event handler with orly.on()
// Run this example to attach the event to the button

// Parameter 1: element
// Parameter 2: event
// Parameter 3: function

orly.ready.then((e)=>{
	var btn = orly.qid("btn");
	
	orly.on(btn, "click", (e)=>{
		var id = e.target.id;
		var tagName = e.target.tagName;
		print(`button id: ${id}`);
		print(`button tagName: ${tagName}`);
	}); 
});
</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
				<div class="row mt-2 p-3">
					<div class="col-sm-12 mb-2" id="domStuff">
						<button id="btn" class="btn btn-success">Button Example</button>
					</div>
					<div class="col-sm-12 border mr-3" id="domStuff">
						Example div with class = foo
					</div>
					<div class="col-sm-12 border mr-3" id="numbers">
						<span class="numbers">1</span>
						<span class="numbers">2</span>
						<span class="numbers">3</span>						
					</div>
					<div>
						<label class="d-block mt-2 mb-0">Search Sites</label>
						<a class="d-block" target="_blank" href="www.google.com">Google</a>
						<a class="d-block" target="_blank" href="www.bing.com">Bing</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
