<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//querySelector
//remember your CSS selectors
var heading = document.querySelector("#heading");
print(`heading.innerHTML: ${heading.innerHTML}`);
var myDiv = document.querySelector("#foo.bar");
print(`myDiv.innerHTMl: ${myDiv.innerHTML}`);
//returns the first matching element
var myDivFirstReturned = document.querySelector(".bar");
print(`myDivFirstReturned.innerHTMl: ${myDivFirstReturned.innerHTML}`);

/***** DOCUMENTATION *****
document.querySelector
- The Document method querySelector() returns the first Element within the document that matches the specified selector, or group of selectors. 
- If no matches found, null returns
- Note: The matching is done using depth-first pre-order traversal of the document's nodes starting with the first element in the document's markup and iterating through sequential nodes by order of the number of child nodes.
- element = document.querySelector(selector);
*/
</textarea>




<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var myDivs = document.querySelectorAll(".bar");
for (var currentDiv of myDivs) {
	print(`currentDiv.innerHTML: ${currentDiv.innerHTML}`);
}

// another way to get the same divs and more
var myElements = document.querySelectorAll("#foo.bar, #foo2.bar, #heading");

for (var currentElement of myElements) {
	print(`currentElement.innerHTMl: ${currentElement.innerHTML}`);
}

// how can we get the buttons and get a count of them?


/***** DOCUMENTATION *****
document.querySelectorAll
- The Element method querySelectorAll() returns a static (not live) NodeList representing a list of the document's elements that match the specified group of selectors.
*/

</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
				<div id="foo" class="bar">Div 1 (id=&quot;foo&quot; and class=&quot;bar&quot;)</div>
				<div id="foo2" class="bar">Div 2 (id=&quot;foo2&quot; and class=&quot;bar&quot;)</div>				
			</div>
		</div>
	</div>
</div>
