<!-- <div id="contentHeader">
</div> -->
<div id="ex-1" class="row ex">
	<div class="col-12">		
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// You can use the new Set() method 
const examSet = new Set();
examSet.add("HTML and CSS");
examSet.add("JavaScript");
examSet.add("Java");
print(`examSet.size: ${examSet.size}`);
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// You can pass your vales in the constructor
const examSet = new Set(["HTML and CSS", "JavaScript", "Java"]);
print(`examSet.size: ${examSet.size}`);

// You can pass in array 
const examArr = ["HTML and CSS", "JavaScript", "Java"];
const examSet2 = new Set(examArr);
print(`examSet2.size: ${examSet2.size}`);
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Use .has() to check if values exist in a set
const examSet = new Set(["HTML and CSS", "JavaScript", "Java"]);
print(`examSet.has("Java"): ${examSet.has("Java")}`);
print(`examSet.has("Java".toUpperCase): ${examSet.has("Java".toUpperCase)}`);
examSet.add(5);
print(`examSet.has(Math.sqrt(25)): ${examSet.has(Math.sqrt(25))}`);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Unique values only 
const examSet = new Set(["HTML and CSS", "JavaScript", "Java", "Java"]);
print(`examSet.size: ${examSet.size}`);
examSet.add("Databases");
print(`examSet.size: ${examSet.size}`);
examSet.add("Databases");
print(`examSet.size: ${examSet.size}`);
examSet.add("Databases".toLowerCase());
print(`examSet.size: ${examSet.size}`);
</textarea>


<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Use .delete() to remove a value from a set
const examSet = new Set(["HTML and CSS", "JavaScript", "Java"]);
print(`examSet.delete("Java"): ${examSet.delete("Java")}`);
print(`examSet.size: ${examSet.size}`);
print(`examSet.delete("Java"): ${examSet.delete("Java")}`);

//Use .clear() to remove all values
examSet.clear();
print(`examSet.size: ${examSet.size}`);
</textarea>



<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// iterating over a set
const examSet = new Set(["HTML and CSS", "JavaScript", "Java"]);
print("using basic for...of loop");
for (let item of examSet){
	print(`${item}`);
}
print("");
print("using .keys");
for (let item of examSet.keys()){
	print(`${item}`);
}
print("");
print("using .value");
for (let value of examSet.values()){
	print(`${value}`);
}
print("");
print("using .entries");
// the key and value are the same for sets
for (let [key, value] of examSet.entries()){
	print(`${value}`);
}
</textarea>

<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// more fun with sets
print(`create an array from a set`)
const examSet = new Set(["HTML and CSS", "JavaScript", "Java"]);
var examArr = Array.from(examSet)
print(`examArr: ${examArr}`);
print("")
// Use the spread operator to transform a set into an Array
print(`print a set with spread operator`)
print(`${[...examSet]}`)
print("")
print("text into a set")
let str = "please remove all duplicate letters"
let strSet = new Set(str);
print(`strSet.size: ${strSet.size}`);
// give me the code to print out each item of strSet

</textarea>



<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
