<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
//strict mode makes it impossible to accidentally create global variables
yesGlobalVariables = 1;
print(`yesGlobalVariables: ${yesGlobalVariables}`);

(()=> {
	'use strict';
	noGlobalVariables = 0;
	// ReferenceError: noGlobalVariables is not defined
})();
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// can't write to non-writable global variables
// in this case, this is a silent error
Infinity = 5;

(()=> {
	'use strict';
	// can't write to non-writable global variables
	Infinity = 5;
	// Cannot assign to read-only property 'undefined' of object '#<Window>'
})();

</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
let obj1 = {x:0};
printObject('obj1: ', obj1);
Object.defineProperty(obj1, 'x', { value: 42, writable: false });
printObject('obj1: ', obj1);
obj1.x = 9; 
printObject('obj1: ', obj1);

(()=>{
	'use strict';
	let obj2 = {x:0};
	Object.defineProperty(obj2, 'x', { value: 42, writable: false });
	obj2.x = 9; 
	// Error: Cannot assign to read only property 'x' of object '#'
})();

</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// strict mode requires unique names for function parameters
function sum(a, a, c) { 
  'use strict';
  return a + a + c; 
} 
//SyntaxError: Duplicate parameter name not allowed in this context

</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
'use strict';
noGlobalVariables = 4;
// Supposedly...
// strict mode makes assignments which would otherwise silently fail to throw an exception
// can't write to non-writable global variables
// This seems to be working in newer browsers and in newer versions of ES#, though!
var undefined = 5;
// Cannot assign to read only property 'undefined' of object '#<Window>'

</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
