<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// this and that
var boat = {			
    sound: "whoosh",
    printThis : function() {
    	return this; // What prints?
    }
}
printObject("boat.printThis(): ",  boat.printThis());
</textarea>


<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// this and that
let car = {
    sound: 'vroom',
    delayedSound: function(sound) {
    		let that = this;

    		setTimeout(function () {
    		    // ? what is "this" below?
    		    print(`this (inside setTimeout): ${this}`);
    		    print(`that.sound: ${that.sound}`);
    		    print(`sound: ${sound}`);
       		}, 500);
    	}
}

car.delayedSound("errrr");

// What is printed if we print "this.sound" 
// in the setTimeout function?
// print(`this.sound: ${this.sound}`);



// What if we then place sound="buzz"; at the top of the script?
</textarea>

		
<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Adding a Function with This Keyword 
var car = {
	color: "midnight blue",
	returnColor: function(){
		println(`this car's color is: ${this.color}`)
	}
}
car.returnColor();

let carHolder = car.returnColor;
carHolder(); // What is the context for 'this'?

// create an outside function with 'this' keyword
let myOutsideFunction = function(){
	// what is the scope of 'color' below?
	return this.color.toUpperCase();
}
// add the outside function to the car object
car.returnColor2 = myOutsideFunction;

println(`car.returnColor2(): ${car.returnColor2()}`);
printObject("car: ", car);
/*
use the console to see the car object with the two functions
*/

</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
