<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// create a number object
var five = new Number('5');
// create a primitive number
var six = Number('6');
// create another primitive number
var seven = 7;

print("five===5: " + (five === 5));
print("six===6: " + (six=== 6));
print("seven===7: " + (seven === 7));

print("five instanceof Number: " + (five instanceof Number));
print("six instanceof Number: " + (six instanceof Number)); 
print("seven instanceof Number: " + (seven instanceof Number));
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// create two number variables
// one as a Number Object and one as a primitive
var five = new Number('5');
var seven = 7;

// Number methods available to both the object and primitive
print("five.toExponential(2): " + (five.toExponential(2)));
print("five.toFixed(2): " + (five.toFixed(2)));
print("five.toPrecision(4): " + (five.toPrecision(4)));
print("seven.toPrecision(): " + (seven.toPrecision()));
print("five.toString(): " + (five.toString()))
print("five.valueOf(): " + (five.valueOf()))
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
const bigInt = Number.MAX_SAFE_INTEGER;
print(`bigInt: ${bigInt}`);
const max = Number.MAX_VALUE;
print(`max: ${max}`);     
const minInt = Number.MIN_SAFE_INTEGER;
print(`minInt: ${minInt}`);
const min = Number.MIN_VALUE;
print(`min: ${min}`);
const nInf = Number.NEGATIVE_INFINITY;
print(`nInf: ${nInf}`);
const nan = Number.NaN;
print(`nan: ${nan}`);
const inf = Number.POSITIVE_INFINITY; 
print(`inf: ${inf}`);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var num = "5"; // String
print(`parseInt(num): ${parseInt(num)}`); // default way (no radix)
print(`parseInt(num, 10): ${parseInt(num, 10)}`); // parseInt with radix (decimal)
print(`parseFloat(num): ${parseFloat(num)}`); // floating point
print(`Number(num): ${Number(num)}`); // Number method
print(`num / 1: ${num / 1}`); // diving by one
print(`num * 1 : ${num * 1 }`); // multiplying by one
print(`num - 0 : ${num - 0 }`); // minus 0
print(`+num : ${+num }`); // unary operator "+" (best way to convert a number, says Jeffery. bc)
print(`typeof num ${typeof num}`);
print(`typeof num/1 ${typeof (num/1)}`);

</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
