<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//querySelector
//remember your CSS selectors
var heading = document.querySelector("#heading");
print(`heading.innerHTML: ${heading.innerHTML}`);
var myDiv = document.querySelector("#foo.bar");
print(`myDiv.innerHTMl: ${myDiv.innerHTML}`);
//returns the first matching element
var myDivFirstReturned = document.querySelector(".bar");
print(`myDivFirstReturned.innerHTMl: ${myDivFirstReturned.innerHTML}`);

</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var myDivs = document.querySelectorAll(".bar");
for (var currentDiv of myDivs) {
	print(`currentDiv.innerHTML: ${currentDiv.innerHTML}`);
}

// another way to get the same divs and more
var myElements = document.querySelectorAll("#foo.bar, #foo2.bar, #heading");

for (var currentElement of myElements) {
	print(`currentElement.innerHTMl: ${currentElement.innerHTML}`);
}

// how can we get the buttons and get a count of them?

</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
				<div id="foo" class="bar">Div 1</div>
				<div id="foo2" class="bar">Div 2</div>				
			</div>
		</div>
	</div>
</div>
