<!-- <div id="contentHeader">
</div> -->
<div id="ex-1" class="row ex">
	<div class="col-12">		
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// We have a global element on this page (in our project JavaScript-2019-05-20) 
// The global element has an id of "output." Let's see if we can access the
// global objects
var myOutputExample = orly.qid("output");
println(myOutputExample);
// Should show [object HTMLDivElement]

// Let's prove that the element is scoped to the window
print(window.outputElem);
// Should show [object HTMLDivElement]
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// LET EXAMPLE - BLOCK SCOPE
println(`Testing if "let" is block-scoped.`);

// We will define a blocked scoped variable inside of an "if" block
if (1==1) {
	let blockScoped = "Hi";
	println("The blockScoped variable is defined and equals " + blockScoped);
}

// Test to see if we can access the variable "blockScoped"
try {
	if (blockScoped) {
		println(`The variable 'blockscoped' is accessible outside of 
				the conditional statement using the "let" declaration.`);
	}
} catch(err) {
	println(err);
}
// We see an error because the declaration "let" is scoped to blocks.
// Meaning: anything inside of curly braces {} (to include functions)
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// VAR EXAMPLE - BLOCK SCOPE
println(`Testing if "var" is block-scoped.`);

if (1==1) {
	var blockScoped = "Hi";
	println("The blockScoped variable is defined and equals " + blockScoped);
}

// Test to see if we can access the variable "blockScoped"
try {
	if (blockScoped) {
		println(`The variable 'blockscoped' is accessible outside of 
				the conditional statement using the "var" declaration.`);
	}
} catch(err) {
	println(err);
}
//We do NOT see an error because the declaration "var" is NOT block-scoped.
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// CONST EXAMPLE - BLOCK SCOPE
println(`Testing if "const" is block-scoped.`);

if (1==1) {
	const blockScoped = "Hi";
	println("The blockScoped variable is defined and equals " + blockScoped);
}

// Test to see if we can access the variable "blockScoped"
try {
	if (blockScoped) {
		println(`The variable 'blockscoped' is accessible outside of 
				the conditional statement using the "const" declaration.`);
	}
} catch(err) {
	println(err);
}
//We do NOT see an error because the declaration "const" is NOT block-scoped.
</textarea>




<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// NO-DECLARATION VARIABLE EXAMPLE - BLOCK SCOPE
// Test what happens when a no-declaration variable is modified within a code block.
println(`Testing if a "no-declaration" variable is block-scoped.`);

if (1==1) {
	blockScoped = "Hi";
	println("The blockScoped variable is defined and equals " + blockScoped);
}

// Test to see if we can access the variable "blockScoped"
try {
	if (blockScoped) {
		println(`The variable 'blockscoped' is accessible outside of 
				the conditional statement when not defining a declaration type.`);
	}
} catch(err) {
	println(err);
}
//We do NOT see an error because the no-declaration is NOT block-scoped.
</textarea>



<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Test what happens when a global variable is modified within a code block. 
var name = "Bob";

if (true) {
	name = "Mark";
}

print(`name: ${name}`);
</textarea>

<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// EXAMPLE USING "LET" - FUNCTION SCOPE
println(`Testing if "let" is function-scoped.`);

function myFunction(){
	let varInsideFunction = "foo";
}

myFunction();
print(`varInsideFunction: ${varInsideFunction}`);
</textarea>

<!-- ---------------------------- EXAMPLE 8 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// EXAMPLE USING "VAR" - FUNCTION SCOPE
println(`Testing if "var" is function-scoped.`);

function myFunction(){
	var varInsideFunction = "foo";
}

myFunction();
print(`varInsideFunction: ${varInsideFunction}`);
</textarea>

<!-- ---------------------------- EXAMPLE 9 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// EXAMPLE USING "CONST" - FUNCTION SCOPE
println(`Testing if "const" is function-scoped.`);

function myFunction(){
	const varInsideFunction = "foo";
}

myFunction();
print(`varInsideFunction: ${varInsideFunction}`);
</textarea>


<!-- ---------------------------- EXAMPLE 10 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// EXAMPLE WITH A NO-DECLARATION VARIABLE - FUNCTION SCOPE
println(`Testing if a "no-declaration" variable is function-scoped.`);

function myFunction(){
	varInsideFunction = "foo";
}

myFunction();
print(`varInsideFunction: ${varInsideFunction}`);
</textarea>



<!-- ---------------------------- EXAMPLE 11 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Check if "let" is hoisted
print(`x before declaration: ${x}`); 
let x = 3;
print(`x after declaration: ${x}`); 
</textarea>


<!-- ---------------------------- EXAMPLE 12 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Check if "var" is hoisted
print(`x before declaration: ${x}`);
var x = 3;
print(`x after declaration: ${x}`);
</textarea>


<!-- ---------------------------- EXAMPLE 13 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Check if "const" is hoisted
print(`x before declaration: ${x}`);
const x = 3;
print(`x after declaration: ${x}`);
</textarea>


<!-- ---------------------------- EXAMPLE 14 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Check if a "no-declaration" is hoisted
print(`x before declaration: ${x}`);
x = 3;
print(`x after declaration: ${x}`);
</textarea>







<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
