<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">	
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
var letters = 'abc';
print("letters: " + letters);

var greeting = "Hello world."
print("greeting: " + greeting);

// We can use the single quote within a string if we like:
var sentence = "Who's on first?";
print("sentence: " + sentence);

// We can use double quotes within a string if we like:
var sentence = '"Where\'s the beef?", said the woman.';
print("sentence: " + sentence);
// Notice that we need to escape the single quote if we use it inside of the string

// We can use double quotes within a string that is wrapped with double quotes:
var sentence = "\"Where's the beef?\", said the woman.";
print("sentence: " + sentence);
// Notice that we need to escape the double quote if we use it inside of the string
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var lineOneAndTwo = "line one\nline two";
var lineOneAndTwoHTML = "line one<br/>line two";
console.log(lineOneAndTwo);
alert("line 1\nline2");
print(lineOneAndTwoHTML);
// Since we are printing to a div element, we need to use the break
// tag to write to a new line.
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Strings are concatenated with +
var result = "Hello " + "world!"; 	// = "Hello world!"
print("result: " + result);

// which works with more than just strings
// we can add strings with Arrays
var result = "Hello " + ["world", "!"];	// = "Hello world,!"
print("result: " + result);

// Be careful when working with concatenation
// sometimes you need parenthesis to evaluate expressions properly
var result = "1==1" + 1 == 1;
print("result: " + result);

// 1==1 expression written properly
var result = "1==1 " + (1 == 1);
print("result: " + result);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Simply wrap your string with back ticks
var literal = `string text`;
print(literal);

// Escaping - you can use single quote and double quote anywhere in the string. 
var sentence = `"Where's the beef?", said the woman.`;
print("sentence: " + sentence);

// Concatenating - we no longer need to concatenate strings and variables with
// the plus sign. Instead, we can use ${variable_name} 
print(`sentence: ${sentence}`);

// Multiline - when using a template literal, spaces new lines are preserved.
var sentence = ` line 1     :)
line 2  .`;
alert(`sentence: ${sentence}`);
print(`<pre>sentence: ${sentence}</pre>`);
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">

// You can perform comparisons with Strings
var result = "a" < "b"; 
print(`result ("a" < "b"): ${result}`);
// Since "a" (97) has a smaller ascii code value than b (98), 
// it is evaluated to be smaller (true). 

var result = "a" < "A"; 
print(`result ("a" < "A"): ${result}`);
//Since "a" (97) has a higher ascii code value than A (65), 
//it is evaluated to be larger (false).

var result = "Zebra" < "ape"; 
print(`result ("Zebra" < "ape"): ${result}`);
// The value of Zebra is evaluated to be less than ape because the 
// string are evaluated in Lexicographic order - meaning that upper
// case letters have a lower ascii value than lower case letters.
</textarea>

<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// You can access characters in a string with .charAt(index)
var sentence = `"Where's the beef?", said the woman.`;
var charIndex = sentence.charAt(1);
print(`charIndex: ${charIndex}`);
</textarea>

<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We can call the method substring() to grab one or more characters within a string
var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 13));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 14));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 17));
// Note: The second parameter is not inclusive

</textarea>

<!-- ---------------------------- EXAMPLE 8 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var sentence = `"Where's the beef?", said the woman.`;
print(sentence.length);

var index = sentence.indexOf(",");
var quote = sentence.substring(0, index);
print(`quote.length: ${quote.length}`);
</textarea>

<!-- ---------------------------- EXAMPLE 9 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
print(`1+1: ${1+1}`);
print(`0.1 + 0.2: ${0.1 + 0.2}`);
// the result of a floating point calculation
print(`8 - 1: ${8 - 1}`);
print(`35/7: ${35/7}`);
print(`5/7: ${5/7}`);
print(``);
print(`-- modulo division --`);
print(`10 % 2: ${10 % 2}`);
print(`30 % 4: ${30 % 4}`);
print(`18.5 % 7: ${18.5 % 7}`);
</textarea>

<!-- ---------------------------- EXAMPLE 10 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Please Excuse My Dear Aunt Sally
var result = (1 + 3) * 2 / 2 + 1 - 4; 	// = 1
print(`result: ${result}`);
</textarea>

<!-- ---------------------------- EXAMPLE 11 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// There are three special not-a-real-number values:
var result = Infinity; // result of e.g. 1/0
print(`result: ${result}`);

var result = -Infinity; // result of e.g. -1/0
print(`result: ${result}`);

var result = NaN; // result of e.g. 0/0, stands for 'Not a Number'
print(`result: ${result}`);

// Note that NaN and Infinity are of type number
print(`(typeof NaN): ${typeof NaN}`);
print(`(typeof Infinity): ${typeof Infinity}`);
</textarea>

<!-- ---------------------------- EXAMPLE 12 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// There's shorthand for performing math operations on variables:

var result = 5;

print(`result (result += 5): ${result += 5}`);
// "result += 5" is equivalent to "result = result + 5;." result is 10 now

print(`result (result *= 10): ${result *= 10}`);
// now result is 100

// Note: The plus and asterisk notation above can be replaced with
//       division and subtraction notation.

// Postfix, Prefix, and Infix
// When using postfix notation, with the operator after operand (for example, x++), 
// the value, before incrementing, is returned.

// When using prefix notation, with the operator before operand (for example, ++x),
// or infix notation with the operator between the operatns (for example 1 + 2)  
// the value, after incrementing, is returned. 

// Adding and Subtracting 1 using postfix notation
print(`result (result++): ${result++}`);
// After returning the value 100, the variable "result" is incremented
// by 1 and has a value of 101.
print(`result (result): ${result}`);

print(`result (result--): ${result--}`);
// After returning the value 101, the variable "result" is decremented
// by 1 and has a value of 100.
print(`result (result): ${result}`);

// Adding and Subtracting 1 using prefix notation
print(`result (++result): ${++result}`); // 101
print(`result (--result): ${--result}`); // 100
</textarea>

<!-- ---------------------------- EXAMPLE 13 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Some Interesting Number Properties
const small = Number.EPSILON; // the smallest value that can be
                              // added to 1 to get a distinct number
                              // larger than 1, approx. 2.2e-16
const bigInt = Number.MAX_SAFE_INTEGER; // the largest representable integer
const max = Number.MAX_VALUE;           // the largest representable number
const minInt = Number.MIN_SAFE_INTEGER; // the smallest representable integer
const min = Number.MIN_VALUE;           // the smallest representable number
const nInf = Number.NEGATIVE_INFINITY;  // the same as -Infinity
const nan = Number.NaN;                 // the same as NaN
const inf = Number.POSITIVE_INFINITY;   // the same as Infinity
</textarea>

<!-- ---------------------------- EXAMPLE 14 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
<script>
print(`2**4: ${2**4}`); // Represents 2 to the 4th

print(`Math.pow(2,4) === 2 ** 4: ${Math.pow(2,4) === 2 ** 4}`);

print(`<br>Check out more Math methods <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math">MDN Math</a>`);
</textarea>

<!-- ---------------------------- EXAMPLE 15 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var num = "5"; // String
print(`parseInt(num): ${parseInt(num)}`); // default way (no radix)
print(`parseInt(num, 10): ${parseInt(num, 10)}`); // parseInt with radix (decimal)
print(`parseFloat(num): ${parseFloat(num)}`); // floating point
print(`Number(num): ${Number(num)}`); // Number constructor
print(`num / 1: ${num / 1}`); // diving by one
print(`num * 1 : ${num * 1 }`); // multiplying by one
print(`num - 0 : ${num - 0 }`); // minus 0
print(`+num : ${+num }`); // unary operator "+" (best way to convert a number)
print(`typeof num ${typeof num}`);
print(`typeof num/1 ${typeof (num/1)}`);
</textarea>

<!-- ---------------------------- EXAMPLE 16 ---------------------------- -->
<!-- ------------------------------ DATES ------------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
const now = new Date();
print(`new Date(): ${now}`);

//To create a date that's initialized to a specific date (at 12:00 a.m.):
const halloween = new Date(2019, 9, 31);
print(`halloween: ${halloween}`); 
// note that months are zero-based: 0=January

// To create a date that's initialized to a specific date and time:
var halloweenParty = new Date(2019, 9, 31, 19, 0); // 19:00 = 7:00 pm (should be a const)
print(`halloweenParty: ${halloweenParty}`);

// Once you have a date object, you can retrieve its components:
print(halloweenParty.getFullYear()); // 2019
print(halloweenParty.getMonth()); // 9
print(halloweenParty.getDate()); // 31
print(halloweenParty.getDay()); // 1 (Mon; 0=Sun, 1=Mon,...)
print(halloweenParty.getHours()); // 19
print(halloweenParty.getMinutes()); // 0
print(halloweenParty.getSeconds()); // 0
print(halloweenParty.getMilliseconds()); // 0
</textarea>

<!-- ---------------------------- EXAMPLE 17 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var today = new Date();
var halloweenParty = new Date(2019, 9, 31, 19, 0); // 19:00 = 7:00 pm (should be a const)
print(`days until halloween: ${datediff(today, halloweenParty)}`);

function datediff(first, second) {
    // Take the difference between the dates and divide by milliseconds per day.
    // Round to nearest whole number to deal with DST.
    return Math.round((second-first)/(1000*60*60*24));
}

// new Date("dateString") is browser-dependent and discouraged, so we'll write
// a simple parse function for U.S. date format (which does no error checking)
function parseDate(str) {
    var mdy = str.split('/');
    return new Date(mdy[2], mdy[0]-1, mdy[1]);
}
</textarea>


<!-- ---------------------------- EXAMPLE 18 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// There are a couple of easy ways to display dates on our web pages.

// We can display the "short date" with "date.toLocaleDateString();"
// https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString
var date = new Date();
var dateString = date.toLocaleDateString();
print(dateString);

// We can display the time by passing in options to our Locale method
var options = {
  hour: 'numeric',
  minute: 'numeric',
  hour12: true
};
var dateString = date.toLocaleString('en-US', options);
print(dateString);

// We can display the "short date", and the time, by adding options to our Locale method
var options = {
  month: "2-digit",
  day: "2-digit",
  year: 'numeric',
  hour: 'numeric',
  minute: 'numeric',
  hour12: true
};
var dateString = date.toLocaleString('en-US', options);
print(dateString.replace(",",""));

// Review the link above to learn about additional options.
print(`<br/><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString">MDN Date Locale Link</a>`);
</textarea>


<!-- ---------------------------- EXAMPLE 19 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We can determine if one date is before or after another date
var date1 = new Date(1996, 2, 1);
var date2 = new Date(2009, 4, 27);
print(`date1 > date2: (${date1 > date2})`); // false
print(`date1 < date2: (${date1 < date2})`); // !false
</textarea>

<!-- ---------------------------- EXAMPLE 20 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var date = new Date();
var modifiedDays = modifyDays(date, 2, "+");
print(`Two Days From Now: ${modifiedDays}`);

var modifiedDays = modifyDays(date, 2, "-");
print(`Two Days Ago: ${modifiedDays}`);

function modifyDays(date, days, operand) {
	// Create a new date so that we do not 
	// affect the date passed into the function.
	let result = new Date(date); 
	
	if ("+" == operand) {
		result.setDate(result.getDate() + days);	
	} else if ("-" == operand) {
		result.setDate(result.getDate() - days);
	}
	
	return result;	
}
</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
				
<!-- 				<div>
					<button class="btn btn-success float-right" onclick="run('console1', 'output1');">
						Run
					</button>
				</div> -->
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
