<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>JavaScript Lectures</title>
	<!-- Bootstrap import - Check https://ui.oreillyauto.com/ui to make sure you have the latest! -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/oreillybs-4.0.0r1.min.css">
	<!-- Project CSS import -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/master.css?build=LOCAL" />
	<!--  Code formatting tool -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/codemirror.min.css">
	<!-- Guide-specific CSS -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/pattern-library.css">	
	<link rel="stylesheet" href="../../../resources/css/orly-els.css" />
	<link rel="stylesheet" href="../../../resources/css/examples.css" />
	<script src="../../../resources/js/oreillyjs/1.1.40/orly.js"></script>	
	<script src="../../../resources/js/examples.js"></script>
</head>
<body>

	
<h2>O'Reilly Dialog</h2>
<orly-dialog class="invisible" dialogtitle="Team Member Information">
  <div slot="body">
    <div class="row">
      <div class="col-6">
       
		<orly-table id="myTable" maxrows="8" class="invisible" tabletitle="Table" 
		     data='[{"id":100,"name":"Heath","cost":1.99, "date":"2021-06-19"}]'>
			<orly-column label="Id" field="id"></orly-column>
				<orly-column label="Name" field="name"></orly-column>
				
				<!-- 
						THIS IS NOT WORKING. PLEASE STANDBY!
				 -->
			<orly-column label="date" field="date"> 
					<div slot="cell">
					${{date:{
							date:[model.date, "yyyy-MM-dd"],
							format: "YYYY/MM/dd"
						}
					}}
				</div>
			</orly-column>
		</orly-table>
       
       
      </div>
    </div>
  </div>
</orly-dialog>
<script>
orly.ready.then(() => {	
	const dialog = orly.q("orly-dialog");
	dialog.open();
});
</script>
	
	
<!-- 	<div class="main">
		<orly-dialog class="d-none">			
			<h2>Intent on a Table Example v1.3</h2>
			<orly-table id="myTable" maxrows="8" class="invisible" tabletitle="Table" 
			     data='[{"id":100,"name":"Heath","cost":1.99, "date":"2021-06-19"}]'>
				<orly-column label="Id" field="id"></orly-column>
				<orly-column label="Name" field="name"></orly-column>
				<orly-column label="Cost"> 
					<div slot="cell">  note: data inside the slot is treated as a template literal
						${{date:{
							date:[model.date, "yyyy-MM-dd"],
							format: "YYYY/MM/DD"
						}}}
					</div>
				</orly-column>
			</orly-table>
	
		</orly-dialog>
	</div>
	<script>
		orly.ready.then(()=>{
			const dialog = orly.q("orly-dialog");
			dialog.open();	
		});
	</script> -->
	
</body>