<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>JavaScript Lectures</title>
	<!-- Bootstrap import - Check https://ui.oreillyauto.com/ui to make sure you have the latest! -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/oreillybs-4.0.0r1.min.css">
	<!-- Project CSS import -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/master.css?build=LOCAL" />
	<!--  Code formatting tool -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/codemirror.min.css">
	<!-- Guide-specific CSS -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/pattern-library.css">	
	<link rel="stylesheet" href="../../../resources/css/orly-els.css" />
	<link rel="stylesheet" href="../../../resources/css/examples.css" />
	<script src="../../../resources/js/oreillyjs/1.1.40/orly.js"></script>	
	<script src="../../../resources/js/examples.js"></script>
</head>
<body>
	<orly-alert-mgr id="alerts"></orly-alert-mgr>
	<div class="main">

		<h2>Intent on a Table Example v1.3</h2>
		<orly-table id="myTable" maxrows="8" class="invisible" tabletitle="Table" data='[{"id":100,"name":"Heath","cost":1.99}]'>
		  <orly-column label="Id" field="id"></orly-column>
		  <orly-column label="Name" field="name"></orly-column>
		  <orly-column label="Cost"> <!-- note: field="cost" is not required since we added the intent below  -->
		  	<div slot="cell"> <!--  note: data inside the slot is treated as a template literal -->
		  		${{currency: {amount: model.cost,symbol: '$'}}}
		  	</div>
		  </orly-column>
		</orly-table>


	</div>
</body>
</html>
